.Hostel-container{
    margin-top: 4%;
}

.nmit-hostel {
    font-size: 22px;
    text-align: center;
    color: #FF5252;
}

.home-hr{
    width: 260px;
    height: 2px;
    margin-left: 40%;
    background-color: #FF5252;
    box-shadow: 10px 10px 100px #FF5252;
}

.Hostel-container h3{
    margin-top: 2%;
    color: #FF5252;
    margin-left: 14px;
}

.home-hr1{
    width: 160px;
    height: 1px;
    margin-left: 2%;
    background-color: #FF5252;
    box-shadow: 10px 10px 100px #FF5252;
}


/* ##################################### HostelCart ################################ */

.hostelcart{
    margin-top: 4%;
    display: flex;
    justify-content: space-around;
}

.hostelcart1{
    margin: 8% 0%;
    display: flex;
    justify-content: space-around;
}


.hostelcart-navlink{
    text-decoration: none;
}

.hostelcart-box{
    height: 280px;
    width: 280px;
    text-align: center;
    box-shadow: 5px 5px  10px #9a9999;
    background-color: #f5efed;
    transition: transform 0.5s ease-in-out;
}

.hostelcart-box:hover {
    transform: translateY(-8px);
}

.hostelcart-box h2{
    color: #FF5252;
    margin-top: 4%;
    font-size: 20px;
}

.hostelcart-box h6{
    color: rgb(133, 130, 130);
}

.cart-pic{
    width: 100%;
    height: 78%;
}


/* ######################### Souparnika Booking ############################## */


.machine-box{
    margin-top: 4%;
    text-align: center;
    align-items: center;
}

.machine-box h1{
    color: #FF5252;
}

.machine-hr{
    width: 240px;
    margin-left: 41%;
    height: 2px;
    background-color: #FF5252;
}

.machine-text{
    display: flex;
    justify-content: center;
}

.machine-text h1{
    margin-top: -38px;
    margin-left: 164px;
    margin-right: 164px;
}

.slot{
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    align-items: center;
}

.slot-booking{
    display: flex;
    justify-content: space-around;
    margin: 0 4%;
}

.slot1-booking{
    margin-top: 60px;
    height: 60vh;
    align-items: center;
    text-align: center;
}

.slot h4{
    color: #FF5252;
    font-size: 22px;
    margin-bottom: 20px;
}

.slot-btn{
    margin-top: 4px;
    width: 200px;
    padding: 10px 22px;
    background-color: rgb(128, 244, 100);
    border: 0px solid;
    border-radius: 8px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
}