.navbar-container{
    width: 100%;
    height: 12vh;
    border: 0px solid red;
    background-color: #edeee9;
    text-decoration: none;
}

.nav-container{
    display: flex;
    align-items: center;
    padding: 2% 3%;
    text-align: center;
    justify-content:space-between;
}

.logo{
    background-color: #FF5252;
    border-radius: 8px;
}

.navlink{
    text-decoration: none;
    font-weight: 600;
    font-size: 22px;
    color: #ffffff;
    text-decoration: none;
    padding: 4px 8px;
}

.navbar-links {
    margin-right: 2%;
}

.navbar-links ul{
    display: flex;
}

.navlink1{
    margin-right: 12%;
    text-decoration: none;
    color: rgb(46, 80, 234);
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}

.navlink1:hover{
    color: rgb(13, 54, 238);
}

.navlink2{
    text-decoration: none;
    color: rgb(246, 52, 52);
    font-size: 20px;
    /* margin-right: 4px; */
    font-weight: 600;
    cursor: pointer;
}

.navlink2.nav-btn{
    color: rgb(255, 0, 0);
}

.search{
    padding: 2px 6px;
    border-radius: 5px;
    margin-left: 2%;
    border: 1px solid #767676;
}

.nav-btn{
    margin-left: 1%;
    padding: 4px 6px;
    font-weight: 600;
    background-color: #2e52f0;
    cursor: pointer;
    color: #ffff;
    border: 0px solid;
    border-radius: 6px;
}

.nav-btn:hover{
    background-color: rgb(0, 47, 255);
}

.logout-content{
    display: flex;
}

.namechar{
    margin: 0px 18px;
    color: #fff;
    font-size: 20px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    padding: 2px 8px 0px 8px;
    background-color: rgb(4, 24, 248);
}

